body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('./images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.font-crete {
  font-family: 'Crete Round', serif;
}

.font-glory {
  font-family: 'Glory', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-lg {
  font-size: 25px;
}

.active {
  color: #3b82f6;
}

main {
  height: 100vh;
  width: 100%;
}

#books-container {
  display: block;
}

.form-container {
  position: relative;
  z-index: 2;
  display: none;
}

.book-design-container {
  height: 22.7%;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0%;
}

#book-illustration {
  width: 100vw;
  height: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contact {
  display: none;
}

@media (min-width: 768px) {
  .form-container {
    padding: 0 30%;
  }

  .text-lg {
    font-size: 35px;
  }

  .contact-content > p {
    margin-top: 20px;
    line-height: 32px;
    font-size: 23px;
  }

  .contact-content > ul > li {
    margin-top: 20px;
    line-height: 32px;
    font-size: 23px;
  }
}
